/* 
font-family: 'Quicksand', sans-serif; 
Base color = #191724
Rose = #ebbcba
Iris = #c4a7e7
text = #e0def4
muted = #6e6a86
love = #eb6f92
*/


p, a, button, footer, textarea{
    font-family: 'Quicksand', sans-serif; 
    color: #e0def4;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.generalHeader{
    text-align: right;
}
.generalHeader a{
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
}

.generalHeader a:hover{
    color: #ebbcba;
}
body{
    background-color: #191724;
}

.slide_out {
    font-size:33px;
    border: 0;
    background-color: #191724;

}
.slide_out:hover {
    color: #ebbcba;
}

.new_note {
    font-size:25px;
    border: 0;
    background-color: #191724;
    padding-left: 250px;
}

.new_note::first-letter {
    font-size: 40px;
}

.new_note:hover {
    color: #ebbcba;
}

.sidenav {
    width: 15vw;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #6e6a86;
    display: flex;
    flex-direction: column;
    height: 100%;
}

textarea {
    font-family: 'Quicksand', sans-serif; 
    font-size: 18px;
    resize: none;
    border: none;
    outline: none;
    background-color: #c4a7e7;
    color: #191724;
}

.note_main{
    width: 85vw;
}

.new_note_button{
    margin-bottom: 90%;
    border: 0;
    background-color: #191724;
    font-size: 40px;
}

.new_note_button:hover{
    color:#ebbcba;
}

.textbox_area{
    margin: auto;
    width: 50%;
    padding-top: 10%;
    display:flex;
    flex-direction: row;
}

.flexnote {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.save, .delete{
    background-color: #191724;
    border: 0;
    font-size: 25px;
}
.delete{
    color: #ebbcba;
}

.delete:hover{
    color: #eb6f92;
}

.save:hover{
    color:#6e6a86;
}

.slide_in {
    background-color: #6e6a86;
    font-size: 33px;
    border: 0;
    padding-left: 72%;
}

.slide_in:hover {
    background-color: #6e6a86;
    color: #ebbcba;
}

.my_notes {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.my_notes p{
    color:#191724;
    font-size: 24px;
}

.in_notes {
    text-align: center;
    background-color: #6e6a86;
    font-size: 20px;
    border: 0;
    padding-top: 20px;
}

.in_notes:hover {
    background-color: #6e6a86;
    color: #ebbcba;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.saveDelete{
    padding-left: 72%;
}

@media screen and (max-width: 600px) {
    .new_note{
        padding-left: 65px;
    }
    footer{
        bottom: 0px;
    }
    textarea{
        width: 180px;
    }
    .saveDelete{
        padding-left: 50%;
    }
    .slide_in{
        padding-left: 15%;
    }
}